extends conf/docwrapper


append config
  - var PageTitle = 'Оборудование XPON'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-product-grid')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header



    //- main

    .main
      .wrap
        .inner
          .page-title
            +breadcrumbs([
              { 'anchor':'Главная','link':'/index.html' },
              { 'anchor':'Оборудование XPON', 'class':'active' }
            ])

            h1 Оборудование XPON

          .content
            .column-left.products-nav-menu
              span.column-title.jsColumnTitle Категории
              //- Всё - upperCase + underlined потому что это всё(обобщение) или потому что это активное меню
              ul.products-nav-content.jsProdMenuContent
                li.category.item-active
                  a.category-link(href="#") ВСЁ

                li.category
                  a.category-link(href="#") Оборудование PON
                  ul
                    li.item.item
                      a.item-link(href="#") Turbo GEPON

                li.category
                  a.category-link(href="#") Ethernet коммутаторы
                  ul
                    li.item.item
                      a.item-link(href="#") Ethernet коммутаторы для ЦОД
                    li.item.item
                      a.item-link(href="#") Коммутаторы агрегации
                    li.item
                      a.item-link(href="#") Коммутаторы доступа

                li.category
                  a.category-link(href="#") ЦАТС МС240

                li.category
                  a.category-link(href="#") Оборудование VOIP
                  ul
                    li.item.item
                      a.item-link(href="#") MSAN
                    li.item
                      a.item-link(href="#") Абонентские шлюзы
                    li.item
                      a.item-link(href="#") Цифровые шлюзы

                li.category
                  a.category-link(href="#") ECSS-10 (SOFTSWITCH)
                  ul
                    li.item.item
                      a.item-link(href="#") SBC
                    li.item
                      a.item-link(href="#") Программный коммутатор
                    li.item
                      a.item-link(href="#") ECSS-10 (Softswitch)

              ul.products-nav-content.products-nav-content-right
                li.category
                  a.category-link(href="#") IP DSLAM
                  ul
                    li.item.item
                      a.item-link(href="#") MXA-32
                    li.item
                      a.item-link(href="#") MXA-64
                    li.item
                      a.item-link(href="#") ECSS-10 (Softswitch)

                li.category
                  a.category-link(href="#") Транспорт
                  ul
                    li.item.item
                      a.item-link(href="#") Маком-МХ
                    li.item
                      a.item-link(href="#") SHDSL-модемы
                    li.item
                      a.item-link(href="#") Мультиплексоры TopGATE
                    li.item
                      a.item-link(href="#") Регенераторы DSL-линии

                li.category
                  a.category-link(href="#") Оборудование доступа

                li.category
                  a.category-link(href="#") Оборудование ТЧ канала

                li.category
                  a.category-link(href="#") Устройства электропитания

                li.category
                  a.category-link(href="#") Телеком шкафы








            //- at this point animated product-item code block must be overRefactored very properly for all similar instances
            section.content-right
              span.column-title Всё
              .products-list
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-01.jpg')

                    .stats
                      .title Коммутатор доступа MES2324B
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-02.jpg')

                    .stats
                        .title Коммутатор доступа MES2324B
                        .short-desc
                          ul
                            li • 1 порт GPON
                            li • гигабитный роутер
                            li • порты FXS для подключения  телефо...
                            li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-03.jpg')

                    .stats
                      .title SOFTWLC
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-04.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-05.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-06.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-07.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-08.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-09.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-10.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-11.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее
                a.item(href=linkProduct)
                  .make3d
                    .img-outer
                      img(src='img/product-12.jpg')

                    .stats
                      .title Коммутатор доступа MES2124F
                      .short-desc
                        ul
                          li • 1 порт GPON
                          li • гигабитный роутер
                          li • порты FXS для подключения  телефо...
                          li • порт USB 2.0 для подключения сетев...
                    .image-overlay
                    .btn.btn-overlay Подробнее

              .pagination
                .cntr
                button.paginate.left
                  i
                  i
                button.paginate.right
                  i
                  i



        //- FORM MIXIN


    //- footer
    include partials/footer
    //- eof footer
