extends conf/docwrapper


append config
  - var PageTitle = 'Продукты'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-catalog')

  //- - var GoogleFonts = 'Poiret+One'
  - var GoogleFonts = GoogleFonts.concat('PT+Sans|PT+Sans+Narrow&subset=cyrillic')
  //- ...
append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header



    //- main

    .main
      .wrap
        .inner
          .page-title
            +breadcrumbs([
              { 'anchor':'Главная','link':'/index.html' },
              { 'anchor':'Оборудование XPON', 'class':'active' }
            ])

            h1 ПРОДУКТЫ

          .content

              //- column 1
              .column.column-1
                .block-1.block
                  a.block-title(href=linkProductGrid) Оборудование PON
                  ul
                    li.block-item: a(href=linkProduct) Turbo GEPON
                .block-2.block
                  a.block-title(href=linkProductGrid) Ethernet коммутаторы
                    ul
                      li.block-item: a(href=linkProduct) Ethernet коммутаторы для ЦОД
                      li.block-item: a(href=linkProduct) Коммутаторы агрегации
                      li.block-item: a(href=linkProduct) Коммутаторы доступа
                .block-3.block
                  a.block-title(href=linkProductGrid) ЦАТС МС240

                //- column 2
              .column.column-2
                .block-3.block
                  a.block-title(href=linkProductGrid) Оборудование VOIP
                    ul
                      li.block-item: a(href=linkProduct) MSAN
                      li.block-item: a(href=linkProduct) Абонентские шлюзы
                      li.block-item: a(href=linkProduct) Цифровые шлюзы
                .block-4.block
                  a.block-title(href=linkProductGrid) ECSS-10 (SOFTSWITCH)
                    ul
                      li.block-item: a(href=linkProduct) SBC
                      li.block-item: a(href=linkProduct) Программный коммутатор
                      li.block-item: a(href=linkProduct) ECSS-10 (Softswitch)

                //- column 3
              .column.column-3
                .block-5.block
                  a.block-title(href=linkProductGrid) IP DSLAM
                    ul
                      li.block-item: a(href=linkProduct) MXA-32
                      li.block-item: a(href=linkProduct) MXA-64
                      li.block-item: a(href=linkProduct) ECSS-10 (Softswitch)
                .block-6.block
                  a.block-title(href=linkProductGrid) Транспорт
                    ul
                      li.block-item: a(href=linkProduct) Маком-МХ
                      li.block-item: a(href=linkProduct) SHDSL-модемы
                      li.block-item: a(href=linkProduct) Мультиплексоры TopGATE
                      li.block-item: a(href=linkProduct) Регенераторы DSL-линии

                //- column 4
              .column.column-4
                .block-7.block
                  a.block-title(href=linkProductGrid) Оборудование доступа
                .block-8.block
                  a.block-title(href=linkProductGrid) Оборудование ТЧ канала
                .block-9.block
                  a.block-title(href=linkProductGrid) Устройства электропитания




        //- FORM MIXIN


    //- footer
    include partials/footer
    //- eof footer
