.dropdown-menu.sub-menu
  .wrap
    .inner
      //-
      .column.column-1
        .block-1.block
          a.block-title(href=linkProductGrid) Оборудование PON
          ul
            li.block-item: a(href=linkProduct) Turbo GEPON
        .block-2.block
          a.block-title(href=linkProductGrid) Ethernet коммутаторы
            ul
              li.block-item: a(href=linkProduct) Ethernet коммутаторы для ЦОД
              li.block-item: a(href=linkProduct) Коммутаторы агрегации
              li.block-item: a(href=linkProduct) Коммутаторы доступа
        .block-3.block
          a.block-title(href=linkProductGrid) ЦАТС МС240

        //- column 2
      .column.column-2
        .block-3.block
          a.block-title(href=linkProductGrid) Оборудование VOIP
            ul
              li.block-item: a(href=linkProduct) MSAN
              li.block-item: a(href=linkProduct) Абонентские шлюзы
              li.block-item: a(href=linkProduct) Цифровые шлюзы
        .block-4.block
          a.block-title(href=linkProductGrid) ECSS-10 (SOFTSWITCH)
            ul
              li.block-item: a(href=linkProduct) SBC
              li.block-item: a(href=linkProduct) Программный коммутатор
              li.block-item: a(href=linkProduct) ECSS-10 (Softswitch)

        //- column 3
      .column.column-3
        .block-5.block
          a.block-title(href=linkProductGrid) IP DSLAM
            ul
              li.block-item: a(href=linkProduct) MXA-32
              li.block-item: a(href=linkProduct) MXA-64
              li.block-item: a(href=linkProduct) ECSS-10 (Softswitch)
        .block-6.block
          a.block-title(href=linkProductGrid) Транспорт
            ul
              li.block-item: a(href=linkProduct) Маком-МХ
              li.block-item: a(href=linkProduct) SHDSL-модемы
              li.block-item: a(href=linkProduct) Мультиплексоры TopGATE
              li.block-item: a(href=linkProduct) Регенераторы DSL-линии

        //- column 4
      .column.column-4
        .block-7.block
          a.block-title(href=linkProductGrid) Оборудование доступа
        .block-8.block
          a.block-title(href=linkProductGrid) Оборудование ТЧ канала
        .block-9.block
          a.block-title(href=linkProductGrid) Устройства электропитания

//- http://codepen.io/kkrueger/pen/qfoLa
//- function handleMenu(menu, toggler){
//-
//- 	function onToggleClick(event){
//- 		event.preventDefault();
//- 		menu.classList.toggle("nav-list-active");
//- 		toggler.classList.toggle("btn-burger-active");
//- 	}
//- 	toggler.addEventListener("click", onToggleClick);
//-
//- 	// если окно вьюпорта больше таблета - убираем toggle классы меню:
//- 	window.addEventListener("resize", function(){
//- 	if (window.matchMedia("(min-width: 1020px)").matches) {
//- 		menu.classList.remove("nav-list-active");
//- 		toggler.classList.remove("btn-burger-active");
//- 	}
//- })
//- }
//-
//- (function(){
//- 	// defining vars && selecting elements:
//- 	var burger = document.querySelector(".btn-burger");
//- 	var navList = document.querySelector(".nav-list");
//-
//- 	// invoking menu-toggler func:
//- 	handleMenu(navList, burger);
//-
//- })();
