
header.header
  .wrap
    .inner

      a.logo(href=linkIndex)
        picture
          //- source(media="(min-width: 1020px)" srcset="img/iphone-screen-3-3@1x.png 1x")
          source(media="(max-width: 767px)" srcset=logoImgSrcMobile)
          img(src=logoImgSrc)


      a.btn.request-callback Заказать звонок

      nav.menu.main-nav
        ul
          li#dd-products.dropdown
            a(href=linkDocumentationGrid) Продукция
            include _sub-menu-1
          li.dropdown
            a(href=linkSolutions) Решения
            include _sub-menu-2
          li.dropdown
            a(href=linkContactInfo) Техподдержка
            include _sub-menu-3
          li
            a(href=linkAbout) О компании
            include _sub-menu-4
        a.btn.request-callback.request-callback-nav Заказать звонок
      a.burger-menu
        .burger-link(href="#")
          .line
          .line
          .line


.menu-overlay


    //- include __dropdownMenu
